<div id='fb-app-intro'>
  <div id='fb-app-intro-text'>
    <img style="width: 50%; float: right; margin: 0px 0px 15px 15px; padding: 4px; border: 2px solid rgb(255, 153, 153)" src="/articles/0030/5005/GIFrecord_2015-04-30_123758.gif" alt="">
    <p>Conecte sua conta do Cirandas com o Facebook através do aplicativo #cirandasnoface!</p>
    <p><strong>É muito fácil:</strong></p>
    <ol>
      <li>Clique no botão azul "Quero instalar o App Cirandas no Face" que está aqui embaixo</li>
      <li>Na coluna direita, escolha quais conteúdos você quer que o cirandas publique automaticamente no seu facebook:
        <ol>
          <li>Publicar no seu facebook as suas ações e conteúdos criados no cirandas</li>
          <li>Publicar no seu facebook as novidades dos seus empreendimentos favoritos e daqueles que você faz parte</li>
          <li>Escolher uma ou mais comunidades das quais você quer que os novos artigos sejam publicados no seu facebook</li>
        </ol>
      </li>
      <li>Pronto, você agora vai ajudar a Economia Solidária a ocupar o facebook!!</li>
    </ol>
    <p><b>Obs:</b> Se você quiser criar também uma <b>vitrine da Economia Solidária</b> numa página sua do facebook, siga as orientações na coluna esquerda.</p>
  </div>
</div>

