<%= render 'load', callback: 'fb_app.fb.submitLoginStatus()' %>

<div class="fb-timeline">
  <%= button_to_function :add, t('fb_app_plugin.views.myprofile.checking_authorization'), 'fb_app.app.connect()' %>
</div>

