<% dirty = false unless defined? dirty %>

<div class="box-field total-title"><%= _("Total") %></div>
<div class="box-field total-value"><%= price_span order.total_price_asked_as_currency(dirty) %></div>
<div class="cleaner"></div>
