<div id="order-page" class="orders page session-view">

  <%= render :partial => 'distribution_plugin_session/view_header', :locals => {:session => @session} %>

  <%= render :partial => 'distribution_plugin_session/view_products', :locals => {:session => @session, :order => @order} %>

  <div id="order-column">
    <%= render :partial => 'consumer_orders' %>
  </div>

  <%= javascript_include_tag '/plugins/distribution/waypoints.min.js' %>

  <div class="clean"></div>
</div>
