<div id="page-tab-footer">
  <div id="page-tab-footer1" class="col-lg-6 col-md-6 col-sm-6 text-left">
    <%= t('fb_app_plugin.views.page_tab.footer1') %>
  </div>
  <div id="page-tab-footer2" class="col-lg-6 col-md-6 col-sm-6 text-right">
    <%= t('fb_app_plugin.views.page_tab.footer2') %>
  </div>
</div>
