<div id="page-tab-footer">
  <div id="page-tab-footer1">
    <%= t('fb_app_plugin.views.page_tab.footer1') %>
  </div>
  <div id="page-tab-footer2">
    <%= t('fb_app_plugin.views.page_tab.footer1') %>
  </div>
</div>
