<div id="fb-app-page-tab-admin">

  <h2>Vitrine de produtos do Cirandas no Facebook</h2>
  <p>A vitrine de produtos pode ser definida por uma palavra-chave ou por uma lista de empreendimentos.</p>

  <p>Escolha o modo de integração:</p>

  <%= render 'config', page_tab: @page_tab, page_id: @page_id, signed_request: @signed_request %>
  <%= render file: 'shared/tiny_mce', locals: {mode: 'simple'} %>

</div>
