<div id="fb_store_admin_page">

  <h2>Vitrine de produtos do Cirandas no Facebook</h2>
  <p>A vitrine de produtos pode ser definida por uma palavra-chave ou por uma lista de empreendimentos.</p>

  <p>Escolha o modo de integração:</p>

  <%= render 'configure_form', page_tab: @page_tab, signed_request: @signed_request %>

</div>
