= render 'title_and_subtitle'

= button :back, t('fb_app_plugin.views.page_tab.back_to_catalog'), params.except(:product_id), target: ''

= render template: 'products_plugin/page/show'

= button :back, t('fb_app_plugin.views.page_tab.back_to_catalog'), params.except(:product_id), target: ''

= render 'footer'

= render 'load'
