
<div id="actions-box" class="wireframe-size">

  <%= link_to t('views.product.import.action'), {:controller => :suppliers_plugin_product, :action => :import}, :class => 'action-button colorbox' %>

</div>
