<html>
  <head>
    <%= noosfero_javascript %>
    <%= stylesheet_link_tag(noosfero_stylesheets, :cache => 'cache') %>
    <%= stylesheet_link_tag jquery_ui_theme_stylesheet_path %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
