<div class="subtitle">
  <%= content_tag('div', t('views.cycle._orders.header_help')) %>
</div>

<%= render 'financial_plugin/cycle_report', :cycle => @cycle %>

<% if @cycle.orders? or @cycle.passed_by? 'orders' %>
  <% if @cycle.orders? %>
    <% header = t('views.cycle._orders.the_orders_period_is_') %>
  <% elsif @cycle.passed_by? 'orders' %>
    <% header = t('views.cycle._orders.already_closed') %>
  <% end %>
<% end %>

<%= render 'orders_cycle_plugin_cycle/cycle_sales' %>

