<div id="cycle-admin-page" class='admin-page'>

  <%= render 'title', :cycle => @cycle %>

  <% view = if params[:view] then params[:view] else @cycle.status.gsub ' ', '_' end %>
  <div id="cycle-view-<%=view%>">
    <%= render :partial => view %>
  </div>
</div>
