
<h3><%= t('views.network.show_structure.nodes') %></h3>

<div id="network-nodes">
  <% @node.nodes.each do |node| %>
    <%= render 'networks_plugin_network/node', :node => node %>
  <% end %>
</div>

<h3><%= t('views.network.show_structure.enterprises') %></h3>
<div id="network-suppliers">
  <% @node.suppliers.except_self.each do |supplier| %>
    <%= render 'networks_plugin_network/supplier', :supplier => supplier %>
  <% end %>
</div>
