<% form_remote_for :delivery_method, delivery_method,
  :url => {:controller => :distribution_plugin_delivery_option, :action => delivery_method.new_record? ? :method_new : :method_edit, :id => delivery_method.id, :session_id => @session.id} do |f| %>
  <%= labelled_field f, :name, _('Name'), f.text_field(:name) %>
  <%= labelled_field f, :description, _('Instructions'), f.text_area(:description), :help =>
  _('Give the member instruction for the delivery, include the address and any recommendations
    you find useful. This text will be available on the page of the order, and by confirming
    the order the person will receive a copy of the order.') %>

  <div class="cleaner"></div>

  <div>
    <%= f.submit delivery_method.new_record? ? _('Add') : _('Save') %>
    <%= link_to_function _('cancel'), "distribution.delivery_view_toggle()" %>
  </div>
<% end %>
