<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>
    <%= _('%{sender} enviou uma mensagem para você.') % {:sender => @sender.name} %>
<br /><br />
<%= link_to _('Clique aqui para ver!'), :host => @recipient.environment.top_url.gsub('http://', ''), :controller => 'exchange_plugin_myprofile', :profile => @recipient.identifier, :action => 'index' %>

    </p>
  </body>
</html>
