<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>
    <%= _('Você tem uma nova troca esperando por você! %{origin} quer fazer uma troca.') % {:origin => @origin.name} %>
<br /><br />
    <%= link_to _('Acesse sua a troca!'), :controller => 'exchange_plugin_myprofile', :profile => @target.identifier, :action => 'index' %>

    </p>
  </body>
</html>
