<% quantity_id_name = "add_product_quantity" + @session_product.id.to_s %>

<div id="<%= quantity_id_name %>">
  <span><%= @session_product.quantity_asked %></span>
  <%= link_to('mudar', :url => {:controller => 'distribution_plugin_ordered_product',
                                       :action => "update_quantity",
                                       :order_id => @order,
                                       :session_product_id => @session_product}) %>
</div>
