<% 
  unit = product.product.product.unit
  unit ||= Unit.first
%>
<span class="lower gray"><%="0 #{unit.singular}"%></span>
<span>
  <%= link_to_remote(_('include'),
                     :url => {:controller => 'distribution_plugin_ordered_product',
                       :action => "new",
                       :order_id => @order,
                       :session_product_id => product
  }) %>
</span>
