<div id="order-products" class="order-products">
  <% order.products.each do |product| %>
    <div class="line-keeper">
      <%= render :partial => "distribution_plugin_ordered_product/edit", :locals => {:ordered_product => product, :product => product.product} %>
    </div>
  <% end %>
</div>

