<% if @admin_action %>
  <%= f.text_field :quantity_asked, :size => 3, :onblur =>
    "jQuery('#product-price-total-#{product.id}').text(distribution_decimal(#{product.product.price}*jQuery(this).val()));" %>
<% else %>
  <%= f.text_field :quantity_asked, :size => 3, :onblur => 
    "jQuery.post('#{url_for(:controller => :distribution_plugin_ordered_product, :action => :edit, :id => product)}',
                 { 'ordered_product[quantity_asked]': jQuery(this).val() });" %>
<% end %>
<span class="lower"><%= product.product.unit.singular %></span>
