<% content_for :header do %>
  <div id="distribution-plugin-header">
    <%= render :partial => 'distribution_plugin_layouts/header' %>
  </div>
<% end %>
<% content_for :admin_sidebar do %>
  <div id="distribution-plugin-admin-sidebar">
    <%= render :partial => 'distribution_plugin_layouts/admin_sidebar' %>
  </div>
<% end %>
<div id="plugin-distribution-layout">
  <%= render :file => 'layouts/application-ng' %>
</div>
