<div id="distribution-plugin-header">
  <%= render :partial => 'distribution_plugin_layouts/header' %>
</div>
<% if @admin_action %>
  <div id="distribution-plugin-admin-sidebar">
    <%= render :partial => 'distribution_plugin_layouts/admin_sidebar' %>
  </div>
<% end %>
