<div id="distribution-plugin-header">
  <%= render :partial => 'distribution_plugin_layouts/header' %>

  <% if @admin_action %>
    <div class="admin-submenu">
      <%= render :partial => 'distribution_plugin_layouts/admin_submenu' %>
    </div>
  <% end %>
</div>
