<div id="suppliers-page">

  <div class="supplier-listing">
    <div id="supplier-add" class="supplier">
      <%= render :partial => 'suppliers_plugin_myprofile/new', :locals => {:supplier => @new_supplier, :profile => @node} %>
    </div>
  </div>
</div>


