<div id="" class="distribution-plugin-popin distribution-plugin-message">
  <h1><%= t('orders_cycle_plugin.views.message.new_to_consumer.message_to_member_con') % {:consumer => @consumer.name} %></h1>

  <% form_remote_tag :url => params do %>
    <%= render :partial => 'fields' %>

     <%= submit_tag t('orders_cycle_plugin.views.message.new_to_consumer.send') %>
     <%= colorbox_close_link t('orders_cycle_plugin.views.message.new_to_consumer.cancel') %>
  <% end %>
</div>
