= javascript_include_tag 'plugins/suppliers/javascripts/products'

= js_translations_include plugin: :suppliers

- object = SuppliersPlugin::ProductPageSerializer.new({products: @products, categories: @product_categories, units: @units, profile: profile} , scope: self).to_hash.merge!({})

product-page

javascript:
  riot.mount($('product-page'), #{object.to_json})


