= javascript_include_tag 'plugins/suppliers/javascripts/products'

= js_translations_include plugin: :suppliers

- object = SuppliersPlugin::ProductPageSerializer.new(profile, params.merge(scope: self)).to_hash.merge!({})

product-page

javascript:
  riot.mount($('product-page'), #{object.to_json})


