<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>
      <%= t('orders_cycle_plugin.views.mailer.open_cycle.hello_member_of_name') % {:name => @profile.name} %>
    </p>

    <p><%= t('orders_cycle_plugin.views.mailer.open_cycle.a_new_cycle_is_open_c') + @cycle.name %></p>
    <p><%= t('orders_cycle_plugin.views.mailer.open_cycle.the_cycle_description') %></p>
    <p><%= @cycle.description %></p>
    <p><%= t('orders_cycle_plugin.views.mailer.open_cycle.the_administrator_let') %></p>
    <p><%= @message %></p>

    <p>
      --<br/>
    </p>

    <small style="color: #888"><%= @environment.name %></small>
  </body>
</html>

