<div id="order-page" class="orders page cycle-view">

  <%= render :partial => 'orders_cycle_plugin_cycle/view_header', :locals => {:cycle => @cycle} %>

  <%= render :partial => 'orders_cycle_plugin_cycle/view_products', :locals => {:cycle => @cycle, :order => @order} %>

  <div id="order-column">
    <%= render :partial => 'consumer_orders' %>
  </div>

  <%= javascript_include_tag '/plugins/orders/javascripts/waypoints.min.js' %>
  <% javascript_tag do %>
    jQuery(document).ready(function() {
      jQuery('.consumer-order.edit').waypoint(function(event, direction) {
        jQuery(this).toggleClass('sticky', direction == 'down');
      }, {});
    });
  <% end %>

  <div class="clean"></div>
</div>
