<div id="product-ballon" class="balloon-content orders-cycle">
  <div class="left-column">
    <%= image_tag @product.default_image(:thumb), class: 'product-pic' %>
  </div>

  <div class="right-column">
    <div><%= @product.description %></div>
  </div>
</div>

