<div id="supplier-ballon" class="balloon-content orders-cycle">
  <div class="left-column">
    <%= profile_image @supplier.profile, :portrait %>
  </div>

  <div class="right-column">
    <div><%= @supplier.description %></div>
  </div>
</div>

