
<div id="actions-box" class="wireframe-size">

  <div class="labels">
    <span class="select">
    </span>
    <span class="with-selection">
    </span>
  </div>

  <div class="buttons">
    <div class="select">
      <%= link_to_function t('views.product._actions.all'), 'orders.admin.select.all()', :class => 'selection-button' %>
      <%= link_to_function t('views.product._actions.none'), 'orders.admin.select.none()', :class => 'selection-button' %>
    </div>

    <div class="with-selection">
      <%# link_to_function t('views.product._actions.activate'), 'suppliers.our_product.select.activate(true)', :class => 'action-button' %>
    </div>

    <div class="other">
    </div>
  </div>

</div>
