<% product = result %>

<div class="snippet cms-learning-plugin-learning-snippet">
  <div class="first-column">
    <div class="label">
      <%= _('Offer') %>
    </div>
  </div>

  <div class="second-column">
  </div>

  <div class="third-column">
    <div class="exchange">
      <%= link_to _('Start an exchange'), '#' %>
    </div>
  </div>
</div>

