<div id="distribution-plugin-add-delivery" class="distribution-plugin-popin">
  <h1><%= t('delivery_plugin.views.delivery_option.select.add_a_delivery_method') %></h1>

  <div id="select-content">
    <%= render :partial => 'select_content' %>
  </div>
</div>
