consumer-page
  .row
    .search.col-xs-12
      input name='search' placeholder="{cs.t('views.consumer.index.search')}" onkeyup='{search}'
      .search-icon

  .consumers-listing.row
    consumer-box each='{consumer in consumers}' consumer='{consumer}'

  consumer-view

  javascript:
    this.cs = window.consumers;
    this.consumers = opts.consumers;
    this.hubs = opts.hubs;
    this.tasks = opts.tasks;
    this.editView = this.tags['consumer-view']

    var self = this;

    search(e) {
      var needle = $('input[name="search"]').val().toLowerCase();
      for (var i in this.consumers) {
        c = this.consumers[i];
        this.consumers[i].selected = (c.name.toLowerCase().indexOf(needle) > -1 || (c.email != null && c.email.indexOf(needle) > -1));
      }
    }

    edit(consumer) {
      this.editView.setConsumer(consumer)
      this.editView.loadPurchases();
    }

    reset() {
      $('consumer-view').modal('hide');
      this.update();
    }
