<% if params[:element_type] == "Product" %>
  <%= link_to((eval(params[:element_type]).find params[:element_id]).category_name) + " " + link_to((eval(params[:element_type]).find params[:element_id]).name) %>
<% elsif params[:element_type] == "CmsLearningPluginLearning" %>
  <% cat = (eval(params[:element_type]).find params[:element_id]).categories %>
  <% name = (cat.blank? ? "" : cat.first.name) %>
  <%= name + " " + link_to((eval(params[:element_type]).find params[:element_id]).name) %>
<% end %>
<%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
:url => {:action => "add_element", :element_id => params[:element_id],  
:element_type => params[:element_type], :enterprise => params[:enterprise], 
:exchange_id => params[:exchange_id], :proposal_id => params[:proposal_id]} %>
