<div class="exchange-summary-wrapper">

  <div class="exchange-proposal-part offer">
    <h4><%= _("%s will offer") % profile.name %></h4>

    <%= render :partial => 'proposal_element_list', :locals => {:proposal => proposal, :profile => profile, :actor => 'profile' } %>
  </div>

  <div class="exchange-proposal-part request">
    <h4><%= _("%s will offer") % @theother.name %></h4>

    <%= render :partial => 'proposal_element_list', :locals => {:proposal => proposal, :profile => @theother, :actor => 'theother' } %>
  </div>
</div> <!-- proposal_offer_request_wrapper -->
