<div id="exc-plg-summary_wrapper">
  <div id="exc-plg-proposal_offer">
    <h5><%= _("%s will offer") % profile.name %></h5>
    <ul id="exc-plg-profile_elements_list">
      <% @elements_profile = proposal.exchange_elements.select{|k| k.enterprise_id == @profile.id} %>
      <% if !@elements_profile.blank? %>
        <% @elements_profile.each do |e| %>              
          <%= render :partial => "element", :locals => {:element => e, :proposal => proposal, :enterprise => "profile"} %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="exc-plg-proposal_request">
    <h5><%= _("%s will offer") % @theother.name %></h5>
    <ul id="exc-plg-theother_elements_list">
      <% @elements_theother = proposal.exchange_elements.select{|k| k.enterprise_id == @theother.id} %>
      <% if !@elements_theother.blank? %>
        <% @elements_theother.each do |e| %>              
          <%= render :partial => "element", :locals => {:element => e, :proposal => proposal, :enterprise => "profile"} %>              
        <% end %>
      <% end %>          
    </ul>        
  </div>
</div> <!-- proposal_offer_request_wrapper -->