<% if proposal.state == "accepted"%>
  <p><%= _('<strong>%{origin} </strong> proposed and <strong> %{target} </strong> accepted!') % {:origin => proposal.enterprise_origin.name, :target => proposal.enterprise_target.name} %></p>
<% else %>
  <p><%= _('<strong> %{origin} </strong> proposes') % {:origin => proposal.enterprise_origin.name}%></p>
<% end %>