<div class="exchange-proposal-header">
  <% if proposal.state == "accepted" %>
    <%= _('%{origin} proposed and %{target} accepted!') % {
      :origin => content_tag('strong', proposal.enterprise_origin.name),
      :target => content_tag('strong', proposal.enterprise_target.name),
    } %>
<% else %>
  <%= _('%{origin} proposes') % {
    :origin => content_tag('strong', proposal.enterprise_origin.name),
  } %>
<% end %>
</div>
