<li id=exchange_<%= params[:element_type] %>_<%= params[:element_id] %>>

  <%= render :partial => "element_list", :locals => {:element => @element, :enterprise => @enterprise, :exchange => @exchange, :proposal => @proposal} %>

</li>