@import url(../base-responsive/style.css);
@import url('bootstrap.css');

/* News in front page */

@media (max-width: 359px) {
  .news-area {
    width: 100%;
  }
  .news-area ul {
    overflow: inherit;
    height: auto;
  }
}

@media (min-width: 360px) {
  #content .news-area h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#content .news-area a.news-see-more {
  position: static;
  float: right;
}
/* End of News in front page */

/* Search results */
.search-results-type-article ul {
  overflow: hidden;
}
.controller-search #search-column-left {
  overflow: hidden;
}
.controller-search #content .search-results-type-article li {
  padding: 10px;
}
.search-product-item-first-column,
.search-content-first-column {
  width: auto;
  min-height: 0;
}
.search-field-label {
  width: auto;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 12px;
}
.search-product-item-second-column .search-result-title {
  margin: 0;
}
.search-product-item .search-result-title {
  font-size: 15px;
  display: block;
}
@media (max-width: 767px) {
  .search-no-image {
    display: none;
  }
  .search-content-first-column [class*='icon-'] {
    font-size: 24px;
  }
  .search-result-title {
    font-size: 13px;
  }
  .search-content-second-column {
    margin: 0;
    width: 100%;
  }
  .search-product-item-first-column,
  .search-product-item-second-column,
  .search-product-item-third-column {
    margin: 0;
    width: 100%;
  }
  .search-article-description,
  .search-product-description {
    display: none;
  }
  .search-article-author-changes {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .search-no-image {
    width: 130px;
  }
  .controller-search #content .search-results-type-product li {
    font-size: 13px;
    padding: 10px;
  }
  .search-content-first-column [class*='icon-'] {
    font-size: 64px;
  }
}
/* End of Search results */

/********************* Product Catalog **********************/

#catalog-options > ul {
    height: auto;
}
#catalog-options {
  color: #000;
  background-color: #FBFBFB;
  filter: none;
  background-image: -moz-linear-gradient(center top , #FFF, #F1F1F1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06) !important;
  border: 1px solid #CCC;
  border-radius: 5px;
}
#catalog-search-input {
  border: 1px solid #E5E5E5;
  background: #FFF !important;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
}
#catalog-search-input:focus {
  box-shadow: 0px 0px 5px #999;
  background-color: #F00;
}
#catalog-options .twitter-typeahead {
  background-color: #fff;
}
.catalog-options-select {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%;
    width: 100%;
}
.catalog-options-select select {
    padding: 5px 13% 5px 0;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.catalog-options-select select:focus {
    outline: none;
}
#catalog-result-qtty-wrap {
  font-size: 80%;
  font-style: italic;
  color: #036276;
}
#catalog-orderby {
  font-size: 80%;
}
#catalog-orderby select {
  font-size: 11px;
  background: transparent;
}

/********************* End of Product Catalog **********************/


#site-title img {
  left:-22px;
  position:absolute;
  top:-30px;
}

#title-bar {
  background-color: gray;
}
#buddy-list .toolbar {
  background-color: gray;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}

.navbar-toggle-icon {
    color:white;
}

img.menu-user-gravatar {
    width:20px;
    height: 20px;
    border: 1px solid rgba(255,255,255,0.4);
    margin-right: 8px;
}

.noosfero-responsive-top-logo {
    background:url(/designs/themes/noosfero-responsive/images/logo-noosfero-raw.png);
    width:60px;
    height:60px;
    margin-right:10px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
}

.navbar-collapse:before, .navbar-collapse:after{display:inline; content:"";}

a.button.with-text, a.button.with-text:visited, body.noosfero a.button.with-text, body.noosfero a.button.with-text:visited, input.button.with-text {
    padding: 3px 2px 3px 2px !important;
}

#agenda .agenda-calendar .button.icon-next.with-text {
    padding-right: 1px;
}

.link-list-block a {
    padding-left: 0px;
}

#link-to-doc {
    padding-left: 0px;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .menu-navigation > li > a {
        font-size: 0px;
        color: rgba(255,255,255,0) !important;
        padding-top: 15.5px;
        padding-bottom: 15.5px;
    }
    .menu-navigation > li > a:hover:before {
        color: #18bc9c;
    }
    .menu-navigation > li > a:before {
        font-size: 22px;
        color:white;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #navbar-search-collapse {
        display:none !important;
    }
}

@media (max-width: 767px) {
    #search-dropdown-menu {
        display: none;
    }
    #top-search {
        margin-top: -1px !important;
        margin-bottom: -1px !important;
    }
}


@media (min-width: 992px) {
    #search-dropdown-menu {
        display: none;
    }
}

.select-article-type {
    width: 100%;
}

.article-types li {
    height: 100%;
}

a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

input.button.with-text, #content a.button.with-text {
    line-height: 1em !important;
    height: 22px;
}

img, video, audio {
    max-width: 100%;
    height: auto;
}

.common-profile-list-block .vcard a, .comment-actions .vcard a {
    height: 100%;
    padding-top: 0px;
}

.popover-title {
    margin:0px !important;
}

.vcard .btn-popover-menu {
    position:absolute;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .vcard .btn-popover-menu {
        display:none;
    }
}

@media screen and (max-width: 767px) {
    .vcard .btn-popover-menu {
        display:block;
    }
}


.btn-popover-menu:before {
    width:1em;
}

.btn-popover-menu {
    margin:0 ;
}

.vcard:hover .btn-popover-menu {
    display:block;
}


#content .communities-block .profile-image {
    float: none;
    padding-left: 0px;
    max-width: none;
    height: 50px;
}

.communities-block .vcard a .org {
    overflow: hidden;
}

.box-container-2 .common-profile-list-block span,
.box-container-2 .common-profile-list-block .profile-image,
.box-container-3 .common-profile-list-block span,
.box-container-3 .common-profile-list-block .profile-image
{
    width: 50px;
}

.box-container-2 .common-profile-list-block .vcard,
.box-container-3 .common-profile-list-block .vcard
{
    height: 101px;
/*    overflow: hidden;*/
}

.no-boxes .common-profile-list-block .vcard .fn,
.no-boxes .common-profile-list-block .vcard .fn
{
    white-space:  nowrap;
}

.popover-content {
    margin-bottom: 18px; /* Did not work fine by default, dont know why */
}

.popover-content ul {
    -webkit-padding-start: 0px;
}

.popover-content li {
    list-style: none;
    display:block;
}

.search-profile-item {

}

#profile-title a, #profile-title a:visited {
  font-weight: bold;
  font-size: 200%;
  text-decoration: none;
  color: #2C3E50;
}
#profile-title a:hover {
  text-decoration: underline;
  color: #18BC9C;
}

.common-profile-list-block .vcard a:hover {
    border: 2px solid transparent;
    background: none;
}

.popover.top > .arrow {
    top:100% !important;
}

.modal-content > .login-box {
    padding: 3px 20px 8px 20px;
}

@media screen and (max-width: 359px) {
    a.navbar-brand {
        font-size: 0px;
        color: rgba(255,255,255,0) !important;
    }
}

.box-container-1, .box-container-2, .box-container-3 {
    padding-right: 0px;
}

.container > #content {
    margin-right: 0px;
}

body {
    background-color: #eeeeee;
}

.block, .no-boxes {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    /* margin: 0px 0px 20px 0px; */
    float: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);/*#d8d8d8;*/
    background-color: white;
}

.no-boxes {
    margin-left: 15px;
}

#content .box-container-1 .link-list-block li {
    display: inline-block;
}

#content .box-container-1 .link-list-block li a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbar-default .navbar-toggle {
    height: 41px;
}
