
<table>
  <thead>
    <th>
    </th>
  </thead>
  <tbody>
    <%= f.fields_for :volunteers_periods, profile.consumers_coop_settings do |ff| %>
      <% owner.volunteers_periods %>

    <% end %>
  </tbody>

</table>
