<div id="ordered-product-<%=ordered_product.id%>" class="value-row ordered-product" toggle-edit="orders.product.edit();">

  <% if @quantity_asked_less_than_minimum and @quantity_asked_less_than_minimum == ordered_product.id %>
    <div class=distribution-error-message>
      <%= t('orders_plugin.views.product._edit.this_product_requires') % {:value => product.minimum_selleable_as_currency_number} %>
    </div>
  <% end %>

  <% if f %>
    <% fields_for "ordered_product-#{ordered_product.id}", ordered_product do |f| %>
      <%= render "orders_plugin_product/edit_fields", :order => order, :ordered_product => ordered_product, :product => product, :f => f %>
    <% end %>
  <% else %>
    <%= render "orders_plugin_product/edit_fields", :order => order, :ordered_product => ordered_product, :product => product, :f => f %>
  <% end %>

</div>
