<div id="product-search" class="search-box">
  <div class="legend">
    <span class="suppliers">
      <span class="icon"></span>
      <span class="text"><%= _('Suppliers') %></span>
    </span>
    <span class="consumers">
      <span class="icon"></span>
      <span class="text"><%= _('Consumers') %></span>
    </span>
  </div>

  <div class="search-field">
    <input type="text" class="search-input"/>
    <div class="search-submit">
    </div>
  </div>

  <div class="focus-pane">
  </div>
</div>
