<%= link_to_product hash[:product], :target => '_blank' %>
<small><%= _('input') %> <%= link_to_category hash[:category], false, :target => '_blank' %></small>
<small><%= _('of my product') %> <%= link_to_product hash[:my_product], :target => '_blank' %></small>
