<div id="sniffer-balloon-wrap">

  <div id="sniffer-balloon-arrow">
  </div>

  <div id="sniffer-balloon">

    <div id="balloon-header">
      <%= render :partial => 'balloon_header' %>
    </div>

    <div id="balloon-footer">
      <%= render :partial => 'balloon_close' %>
    </div>
  </div>
</div>
