<div id="delivery-add" class="popin">
  <h1><%= t('delivery_plugin.views.delivery_option.select.add_a_delivery_method') %></h1>

  <div id="select-content">
    <%= render 'select_content' %>
  </div>
</div>
