<h1 id="network-header" class="page-title">
  <% if profile.node? %>
    <%= "%{network}: %{node}" % {:network => profile.network.name, :node => profile.name} %>
  <% else %>
    <%= profile.name %>
  <% end %>
</h1>
