<div id="" class="distribution-plugin-popin distribution-plugin-message">
  <h1><%= t('distribution_plugin.views.message.new_to_supplier.message_to_supplier_s') % {:supplier => @supplier.name} %></h1>

  <% form_remote_tag :url => params do %>
    <%= render :partial => 'fields' %>

     <%= submit_tag t('distribution_plugin.views.message.new_to_supplier.send') %>
     <%= colorbox_close_link t('distribution_plugin.views.message.new_to_supplier.cancel') %>
  <% end %>
</div>
