<div class="session">
  <div class='happening'><%= _('Happening') %></div>
  <div>
    <h2>
      <%= _('Orders open: %{session}') % {:session => session.name_with_code} %>
    </h2>

  </div>
</div>
