<div id="distribution-plugin-sessions-gadget" class="plugin-distribution plugin-distribution-layout">
  <% @node.sessions.open.all(:limit => 2).each do |session| %>
    <%= render :partial => 'distribution_plugin_gadgets/session', :locals => {:session => session} %>
  <% end %>

  <div>
    <%= link_to t('distribution_plugin.views.gadgets.sessions.all_cycles'), {:controller => :distribution_plugin_order}, :id => "all-sessions" %>
    <div class='clean'></div>
  </div>
</div>
