elearning-secretary-context

  select.form-control onchange='{selectSubOrg}' onkeyup='{selectSubOrg}' if='{subOrganizations.length > 0}'
    option each='{org in selectSubOrgs}' value='{org.id}'
      |{org.name}

  .bootstrap-table
    .fixed-table-container
      .fixed-table-body
        table.table.table-striped.table-hover
          thead
            tr
              th
                |{es.t('views.students.name')}
              th
                |{es.t('views.students.actions')}
          tbody
            tr riot-tag='elearning-secretary-student' each='{student in students}' data='{student}' if='{!student.filtered}'

  javascript:
    this.es = window.elearning_secretary
    this.students = opts.students
    this.subOrganizations = opts.sub_organizations

    this.selectSubOrgs = opts.sub_organizations.slice(0)
    this.selectSubOrgs.unshift({name: this.es.t('views.sub_orgs.all')})
    this.selectedOrg = null

    selectSubOrg (e) {
      var id = parseInt($(e.target).val())
      for (var i in this.students) {
        var student = this.students[i]
        student.filtered = id && !_.includes(student.org_ids, id)
      }
      this.update()
    }

    selectedSubOrgs () {
      return this.selectedOrg ? [this.selectedOrg] : _.map(this.subOrganizations, function(o) { return o.id })
    }

