elearning-secretary-student
  td
    |{student.name}
  td
    a.btn.btn-default.btn-xs.fa.fa-location-arrow href='#' onclick='{showStats}'

  javascript:
    this.es = window.elearning_secretary
    this.student = opts.student
    this.statsUrl = Routes.analytics_plugin_stats_path({profile: noosfero.profile, action: 'view'})

    showStats () {
      $.post(this.statsUrl, {user_id: this.student.id, profile_ids: this.parent.selectedSubOrgs()}, function (data) {
        noosfero.modal.html(data)
      })
      return false
    }


