elearning-secretary-student
  td.bs-checkbox
    input type='checkbox' onchange='{select}'
  td
    |{student.name}
  td
    button.btn.btn-default.fa.fa-location-arrow href='#' onclick='{showStats}'
    |&nbsp;
    button.btn.btn-default.fa.fa-graduation-cap href='#' onclick='{showGrades}'
    |&nbsp;
    elearning-secretary-documents-export type='odt'
    elearning-secretary-documents-export type='pdf'

  javascript:
    this.es = window.elearning_secretary
    this.student = opts.student
    this.statsUrl = Routes.analytics_plugin_stats_path({profile: noosfero.profile, action: 'view'})
    this.gradesUrl = Routes.avaliacoes_plugin_grades_path({profile: noosfero.profile})

    showStats () {
      $.post(this.statsUrl, {user_id: this.student.id, profile_ids: this.parent.selectedSubOrgs()}, function (data) {
        noosfero.modal.html(data)
      })
      return false
    }

    showGrades () {
      $.get(this.gradesUrl, {student_id: this.student.id}, function (data) {
        noosfero.modal.html(data)
      })
      return false
    }

    select (e) {
      this.selected = e.target.checked
    }

