<%= render :file => "#{Rails.root}/app/views/manage_products/_categories_for_selection.rhtml", :locals => {:categories => categories, :level => level} %>

<% javascript_tag do %>
  jQuery(document).ready(function() {
    setTimeout(function() {
      jQuery('html, body').animate({
        scrollTop: jQuery('#new_product_title').offset().top - jQuery('#cirandas-top-bar').height() - 10
      }, 500);
    }, 100);
  });
<% end %>
