<% @results.each do |enterprise| %>
  <div class="result">
    <%= check_box_tag "enterprises[]", enterprise.id %>
    <%= profile_image enterprise %>
    <%= link_to enterprise.name, enterprise.url, :target => '_blank' %>
  </div>
<% end %>
