<% if @session.orders? or @session.passed_by?('orders') %>
  <% if @session.orders? %>
    <% header = t('distribution_plugin.views.session._orders.the_orders_period_is_') %>
  <% elsif @session.passed_by?('orders') %>
    <% header = t('distribution_plugin.views.session._orders.already_closed') %>
  <% end %>
<% end %>

<div id='session-orders'>
  <%= render :partial => 'orders_plugin_admin/index', :locals => {:orders => @session.orders} %>
</div>

<div id='session-products-sums'>
  <%= render :partial => 'orders_suppliers', :locals => {:session => @session} %>
</div>
