<% sessions = @sessions.status_closed.by_month(@month_date) %>

<% if sessions.blank? %>
  <div class="subtitle"><%= t('distribution_plugin.views.session._results.no_cycles_to_show') %></div>
<% else %>
  <% sessions.each do |session| %>
    <div id="session-list-item-<%= session.id %>" class="session-list-item">
      <%= render :partial => 'brief', :locals => {:session => session, :timeline => false} %>
    </div>
  <% end %>
<% end %>
