<div id="session-products-for-order">
  <div class="title">
    <h3><%=t('distribution_plugin.views.session._view_products.the_products')%></h3>
    <div><%= t('distribution_plugin.views.session._view_products.choose_from_the_list_')%></div>
  </div>

  <%= render :partial => "distribution_plugin_order/filter_products", :locals => {:session => session, :order => order}%>

  <div id="order-filter">
    <%= render :partial => "distribution_plugin_product/order_search", :locals => {
      :session => session, :order => order,
      :products_for_order_by_supplier => session.products_for_order_by_supplier,
    } %>
  </div>
</div>
