<div id="session-others">
  <% others = (@node.sessions.open - [session]) %>
  <%= ( others.blank? ? t('distribution_plugin.views.session._view_header.see_also_all') : t('distribution_plugin.views.session._view_header.other_open_cycles_lis') ) % {
    :list => others.map{ |s| link_to(s.name, '') }.join(t('distribution_plugin.views.session._view_header., ')),
    :all => link_to(t('distribution_plugin.views.session._view_header.all_orders_cycles'), {:controller => :distribution_plugin_order, :action => :index}), } %>
</div>

<div id="session-header">
  <h2><%=t('distribution_plugin.views.session._view_header.orders_cycle_cycle') % {:cycle => content_tag(:strong, session.name_with_code)} %></h2>

  <%= render :partial => 'distribution_plugin_session/view_dates', :locals => {:session => session} %>

  <div class="subtitle"><%= session.description %></div>
</div>
