<div id="session-others">
  <% others = (@node.sessions.open - [session]) %>
  <%= ( others.blank? ? _('See also %{all}') : _('Other open cycles: %{list}. See also %{all}') ) % {
    :list => others.map{ |s| link_to(s.name, '') }.join(_(', ')),
    :all => link_to(_('all orders cycles'), {:controller => :distribution_plugin_order, :action => :index}), } %>
</div>

<div id="session-header">
  <h2><%=_("Orders' cycle: %{cycle}") % {:cycle => content_tag(:strong, session.name_with_code)} %></h2>

  <%= render :partial => 'distribution_plugin_session/view_dates', :locals => {:session => session} %>

  <div class="subtitle"><%= session.description %></div>
</div>
