<li class='input-item' id="input-<%= input.id %>" property="essglobal:hasInputCost" typeof="essglobal:Input">
<%= render :partial => 'manage_products/display_input', :locals =>{:input  => input} %>
</li>
