<% if @result_pages>1 %>
  <div id='pages' style='text-align:right'>
    <% for i in 1..@result_pages %>
      <% if i>=(10+@npage) && i<@result_pages %>
        <% if i==(10+@npage) %>
          &hellip;&nbsp;
        <% end %>
      <% else %>
        <%= (i == @npage) ? i : link_to(i, "http://cirandas.net/plugin/fbes/queries/#{params[:action]}?page=#{i}&per_page=#{@per_page}") %>
        &nbsp;
      <% end %>
    <% end %>
  </div>
<% end %>
