<h1>Estatísticas de uso do Cirandas</h1>
<ul>
  <% FbesPlugin::Queries::Hash.each do |name, query| %>
    <li>
      <a href="http://cirandas.net/plugin/fbes/queries/<%= name %>?format=html"><%= t(name) %></a>
    </li>
  <% end %>
</ul>
