<h1><%= params[:action] %></h1>
  <table>
    <tr>
      <% @fbes_plugin_result.first.keys.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% @fbes_plugin_result.each do |line| %>
      <tr>
        <% line.each do |value| %>
          <td><%= value[1] %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
