<h1><%= t(params[:action]) %></h1>
  <table class='table'>
    <tr>
      <% @fbes_plugin_result.first.keys.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% @fbes_plugin_result.each do |line| %>
      <tr>
        <% line.each do |value| %>
          <td>
            <%= case value[0]
              when 'url'
                link_to(value[1], value[1])
              when 'mes'
                Date.parse(value[1]).strftime("%M/%Y")
              else
                value[1]
              end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
