<h1><%= t(params[:action]) %></h1>
<%= button(:back, 'Voltar à lista de comandos', 'http://cirandas.net/plugin/fbes/queries') %>
  <table class='table'>
    <tr>
      <% @fbes_plugin_result.first.keys.each do |header| %>
        <% if !['profile_id', 'id'].include?(header) %>
          <th><%= header %></th>
        <% end %>
      <% end %>
    </tr>
    <% @fbes_plugin_result.each do |line| %>
      <tr>
        <% line.each do |value| %>
          <% if !['profile_id', 'id'].include?(value[0]) %>
            <td>
              <%= case value[0]
                when 'url', 'site'
                  link_to(value[1], value[1])
                when 'mes'
                  Date.parse(value[1]+'-01').strftime("%b/%Y")
                else
                  value[1]
                end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
