<div id="consumers-coop-plugin-header">
  <%= render :partial => 'consumers_coop_plugin_layouts/header' %>

  <% if @admin_action %>
    <%= render :partial => 'consumers_coop_plugin_layouts/admin_submenu' %>
  <% end %>
</div>
