= render 'shared/bootstrap_table'

= js_translations_include plugin: :avaliacoes
= javascript_include_tag 'plugins/avaliacoes/javascripts/avaliacoes'

avaliacoes-student
javascript:
  riot.mount($('avaliacoes-student').get(0), #{AvaliacoesPlugin::StudentSerializer.new(profile).to_hash.to_json})

