<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>

  <body>
    <p>
      <%= _('Dear %{name},') % {:name => @consumer.name} %>
    </p>

    <p>
      <%= _('Your order made on collective %{node} in %{date} is confirmed.') % {
        :node => @node.name, :date => day_time(@order.updated_at)
      } %>
    </p>

    <p>
      <%= _('Atention to the delivery instructions, that will occur in %{date}.') % {
        :date => day_time_period(@order.session.delivery_start, @order.session.delivery_finish)
      } %> 
    </p>

    <p>
      <b><%= @order.supplier_delivery.name %></b><br />
      <%= @order.supplier_delivery.description %><br />
    </p>

    <p><%= _('Order data confirmed:') %></p>

    <pre><%= _('Order Nº: %{code}') % {:code => @order.code} %>
----------------------------------------------------------------------------------
<%= _('Products list') %>
----------------------------------------------------------------------------------</pre>
    <% @order.products.group_by{|op| op.supplier}.each do |supplier, products| %>
      <pre><%= supplier.name + ':' %></pre>
      <table>
        <col style="width: 170px;" />
        <col style="width: 130px;" />
        <col style="width: 120px;" />
        <% products.each do |p| %>
          <tr>
            <td><pre><%= p.product.name %></pre</td>
            <td><pre><%= _("%{quantity} %{unit}") % {:quantity => p.quantity_asked, :unit => p.product.unit.singular}%></pre</td>
            <td><pre><%= _("R$ %{price}/%{unit}") % {:price => p.product.price, :unit => p.product.unit.singular} %></pre</td>
            <td><pre><%= p.price_asked %></pre</td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <pre>----------------------------------------------------------------------------------</pre>
    <table>
      <col style="width: 430px;" />
      <tr>
        <td><pre><%= _('TOTAL:') %></pre></td>
        <td><pre><%= @order.total_price_asked %></pre></td>
      </tr>
    </table>

    <p>
      <%= _('Your order can be checked in the following link:') %><br />
      <%= link_to _('Order %{code} of %{node}') % {:code => @order.code, :node => @node.name },
        {:controller => :distribution_plugin_order, :action => :edit, :id => @order.id, :profile => @node.profile.identifier} %> 
    </p>

    <p>
      --<br/>
      <%= _("Greetings") %>
    </p>
  </body>
</html>

