<div class="catalog-autocomplete " style="background-image: url(<%= product.default_image(:minor) %>)">
  <%= plugins_catalog_autocomplete_item_extras product %>
  <span class="catalog-autocomplete-name">
    <%= product.name %>
  </span>
</div>
