<% profile.members.each do |member| %>
  <div class="escambo-profile-member">
    <%= profile_image member, :portrait, class: 'profile-image' %>

    <div class="right">
      <div class="name">
        <%= member.name %>
      </div>

      <% if user != member %>
        <%= link_to _('Get in contact'), {controller: :contact, profile: member.identifier, action: :new}, class: 'modal-toggle action-button' %>
      <% end %>
    </div>
  </div>
<% end %>

