<div id="escambo-enterprise-items">
  <%= render :partial => 'products', :locals => {:all => false} %>
  <%= render :partial => 'knowledges', :locals => {:all => false} %>
  <%= render :partial => 'interests', :locals => {:all => false} %>
</div>

<%= render :partial => 'info' %>