<div id="delivery-box">
  <% if order.delivery_methods.size > 0 %>
    <div>
      <h3><%= t('views.order._supplier_delivery.delivery_method') %></h3>
      <% if order.supplier_delivery %>
        <strong><%= order.supplier_delivery.name %></strong>
        <div class="subtitle"><%= order.supplier_delivery.description %></div>
      <% end %>
    </div>

    <% if order.open? and order.delivery_methods.size > 1 %>
      <%= labelled_field f, :supplier_delivery_id, t('views.order._supplier_delivery.choose_another'),
        f.select(:supplier_delivery_id, order.delivery_methods.collect{ |d| [d.name, d.id] }, {},
                 :onchange => "jQuery('#delivery-box').load('#{url_for(:action => :render_delivery, :id => order.id)}', jQuery(this).parents('form').serialize());"),
        :class => 'subtitle' %>
    <% end %>
  <% end %>

</div>
