<div id="new-supplier">
  <%= _('Create new supplier') %>
  <% form_remote_for :supplier, @supplier, :url => {:action => :new} do |f| %>
    <%# f.fields_for :profile, @profile do |f| %>
    <%= labelled_form_field _('Name'), text_field_tag(:name) %>
    <%# end %>
    <%= f.submit _('Create') %>
  <% end %>
</div>
<br>
<div id="add-supplier">
  <%= _('Find a supplier from the network') %>
</div>

<br><br>
<%= lightbox_close_button _('Close') %>
