<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>
      <%= t('views.mailer.message_to_consumer.hello_name') % {:name => @consumer.name} %>
    </p>

    <p><%= t('views.mailer.message_to_consumer.the_collective_profile_s') % {:profile => @profile.name} %></p>
    <p><i><%= @message %></i></p>

    <p>
      --<br/>
    </p>

    <small style="color: #888"><%= t('views.mailer.message_to_consumer.a_service_of_s') % {environment: @environment.name} %></small>
  </body>
</html>
