<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <%# Add custom tags/styles/etc via content_for %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
